.primaryContainer {
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.secondaryContainer {
  max-width: 984px;
  margin: 0 auto;
  height: 100%;
  padding: 0 var(--default_padding);
}
