.matchFirstLetter {
  display: grid;
  grid-template-rows: auto auto;
  height: 100%;
  align-content: space-around;
  grid-gap: 1rem;
  width: 100%;
}

.vowelsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  font-size: 50px;
  width: 100%;
  color: var(--color_red);
  column-gap: 3rem;
  row-gap: 2rem;
}

.vowel {
  padding: 5px;
  box-shadow: 0 0 30px 10px rgba(128, 0, 128, 0.2) inset;
  text-align: center;
  border-radius: 5px;
  background: white;
}

.blockPage {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(1, 1, 1, .6);
}

.rightAnswer {
  position: fixed;
  font-size: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  transition: all, .5s;
  background: rgba(1,1,1, .8);
}
